
{% load static%}



<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartFarm - Organic Food</title>
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main-color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/slick.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


</head>
<body class="biolife-body">

    <!-- Preloader -->
    {% comment %} <div id="biof-loading">
        <div class="biof-loading-center">
            <div class="biof-loading-center-absolute">
                <div class="dot dot-one"></div>
                <div class="dot dot-two"></div>
                <div class="dot dot-three"></div>
            </div>
        </div>
    </div> {% endcomment %}

    <!-- HEADER -->
    <header id="header" class="header-area style-01 layout-03">
        <div class="header-top bg-main hidden-xs">
            <div class="container">
                <div class="top-bar left">
                    <ul class="horizontal-menu">
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>smartfarm@company.com</a></li>
                    </ul>
                </div>
                <div class="top-bar right">
                    <ul class="social-list">
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                    <ul class="horizontal-menu">
                        
                        
                        <div class="" style="display:flex;padding:10px;justify-items:center;">
                        
                    </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-middle biolife-sticky-object ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-2 col-md-6 col-xs-6">
                        <a href="" class="biolife-logo" style="color:black"><h1>Smart Farm</h1></a>
                    </div>
                    <div class="col-lg-6 col-md-7 hidden-sm hidden-xs">
                        <div class="primary-menu">
                        <ul class="menu biolife-menu clone-main-menu clone-primary-menu" id="primary-menu" data-menuname="main menu">
                            <li class="menu-item"><a href="/">Home</a></li>
                            <li class="menu-item menu-item-has-children has-megamenu">
                                <a href="#" class="menu-name" data-title="Shop" >Shop</a>
                                <div class="wrap-megamenu lg-width-900 md-width-750">
                                    <div class="mega-content">
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                                <h4 class="menu-title">Fresh Berries</h4>
                                                <ul class="menu">
                                                    <li><a href="#">Fruit & Nut Gifts</a></li>
                                                    <li><a href="#">Mixed Fruits</a></li>
                                                    <li><a href="#">Oranges</a></li>
                                                    <li><a href="#">Bananas & Plantains</a></li>
                                                    <li><a href="#">Fresh Gala Apples</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                                <h4 class="menu-title">Vegetables</h4>
                                                <ul class="menu">
                                                    <li><a href="#">Berries</a></li>
                                                    <li><a href="#">Pears</a></li>
                                                    <li><a href="#">Chili Peppers</a></li>
                                                    <li><a href="#">Fresh Avocado</a></li>
                                                    <li><a href="#">Grapes</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu ">
                                                <h4 class="menu-title">Fresh Fruits</h4>
                                                <ul class="menu">
                                                    <li><a href="#">Basket of apples</a></li>
                                                    <li><a href="#">Strawberry</a></li>
                                                    <li><a href="#">Blueberry</a></li>
                                                    <li><a href="#">Orange</a></li>
                                                    <li><a href="#">Pineapple</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                            <div class="wrap-custom-menu vertical-menu">
                                                <h4 class="menu-title">Featured Products</h4>
                                                <ul class="menu">
                                                    <li><a href="#">Coffee Creamers</a></li>
                                                    <li><a href="#">Mayonnaise</a></li>
                                                    <li><a href="#">Almond Milk</a></li>
                                                    <li><a href="#">Fruit Jam</a></li>
                                                    <li><a href="#">Beverages</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            
                            <li class="menu-item menu-item-has-children has-megamenu">
                                <a href="#" class="menu-name" data-title="Blog">Account</a>
                                <div class="wrap-megamenu lg-width-800 md-width-750">
                                    <div class="mega-content">
                                        <div class="col-lg-3 col-md-3 col-xs-6">
                                            <div class="wrap-custom-menu vertical-menu">
                                                
                                                <ul class="menu">
                                                    <li><a href="/customerlogin">Login</a></li>
                                                    <li><a href="/customersignup">Register</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-md-6 col-xs-6">
                        <div class="biolife-cart-info">
                            <div class="mobile-search">
                                <a href="javascript:void(0)" class="open-searchbox"><i class="biolife-icon icon-search"></i></a>
                                <div class="mobile-search-content">
                                    <form action="#" class="form-search" name="mobile-seacrh" method="get">
                                        <a href="#" class="btn-close"><span class="biolife-icon icon-close-menu"></span></a>
{#
                                        <button type="submit" class="btn-submit">go</button>
                                    </form>
                                </div>
                            </div>
                            
                            <div class="minicart-block">
                                <div class="minicart-contain">
                                    <a href="/cart" class="link-to">
                                            <span class="icon-qty-combine">
                                                <i class="icon-cart-mini biolife-icon"></i>
                                                <span class="qty">{{ product_count_in_cart }}</span>
                                            </span>
                                        <span class="title">My Cart -</span>
                                        <span class="sub-total">Ksh{{total}}</span>
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="mobile-menu-toggle">
                                <a class="btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="header-bottom hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="vertical-menu vertical-category-block">
                            <div class="block-title">
                                <span class="menu-icon">
                                    <span class="line-1"></span>
                                    <span class="line-2"></span>
                                    <span class="line-3"></span>
                                </span>
                                <span class="menu-title">Products</span>
                                <span class="angle" data-tgleclass="fa fa-caret-down"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                            </div>
                            <div class="wrap-menu">
                                <ul class="menu clone-main-menu">
                                    <li class="menu-item menu-item-has-children has-megamenu">
                                        <a href="#" class="menu-name" data-title="Fruit & Nut Gifts"><i class="biolife-icon icon-fruits"></i>Fruits</a>
                                        <div class="wrap-megamenu lg-width-900 md-width-640">
                                            <div class="mega-content">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-4 col-sm-12 xs-margin-bottom-25 md-margin-bottom-0">
                                                        <div class="wrap-custom-menu vertical-menu">
                                                            <h4 class="menu-title">Fruits</h4>
                                                            <ul class="menu">
                                                                <li><a href="#">Apples</a></li>
                                                                <li><a href="#">Orange</a></li>
                                                                <li><a href="#">Banana</a></li>
                                                                <li><a href="#">Grapes</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu-item menu-item-has-children has-megamenu">
                                        <a href="#" class="menu-name" data-title="Fruit & Nut Gifts">
                                            <i class="biolife-icon icon-fruits"></i>Vegetables</a>
                                        <div class="wrap-megamenu lg-width-900 md-width-640">
                                            <div class="mega-content">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-4 col-sm-12 xs-margin-bottom-25 md-margin-bottom-0">
                                                        <div class="wrap-custom-menu vertical-menu">
                                                            <h4 class="menu-title">Vegetables</h4>
                                                            <ul class="menu">
                                                                <li><a href="#">Carrots</a></li>
                                                                <li><a href="#">Kale</a></li>
                                                                <li><a href="#">Brocoli</a></li>
                                                                <li><a href="#"></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu-item menu-item-has-children has-megamenu">
                                        <a href="#" class="menu-name" data-title="Fruit & Nut Gifts">
                                            <i class="biolife-icon icon-fruits"></i>Cereals</a>
                                        <div class="wrap-megamenu lg-width-900 md-width-640">
                                            <div class="mega-content">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-4 col-sm-12 xs-margin-bottom-25 md-margin-bottom-0">
                                                        <div class="wrap-custom-menu vertical-menu">
                                                            <h4 class="menu-title">Cereals</h4>
                                                            <ul class="menu">
                                                                <li><a href="#">Maize</a></li>
                                                                <li><a href="#">Rice</a></li>
                                                                <li><a href="#">Green grams</a></li>
                                                                <li><a href="#"></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 padding-top-2px">
                        <div class="header-search-bar layout-01">
                            <form action="#" class="form-search" name="desktop-seacrh" method="get">
                                <input type="text" name="s" class="input-text" value="" placeholder="Search here...">

                                <button type="submit" class="btn-submit"><i class="biolife-icon icon-search"></i></button>
                            </form>
                        </div>
                        <div class="live-info">
                            <p class="telephone"><i class="fa fa-phone" aria-hidden="true"></i><b class="phone-number">(+254) 123 456 7891</b></p>
                            <p class="working-time">Mon-Fri: 8:30am-7:30pm; Sat-Sun: 9:30am-4:30pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


{% block content%}





{% endblock content%}
    <!--Mobile Global Menu-->
<div class="mobile-block-global">
    <div class="biolife-mobile-panels">
        <span class="biolife-current-panel-title">Global</span>
        <a class="biolife-close-btn" data-object="global-panel-opened" href="#">&times;</a>
    </div>
    <div class="block-global-contain">
        <div class="glb-item my-account">
            <b class="title">My Account</b>
            <ul class="list">
                <li class="list-item"><a href="#">Login/register</a></li>
                <li class="list-item"><a href="#">Wishlist <span class="index">(8)</span></a></li>
                <li class="list-item"><a href="#">Checkout</a></li>
            </ul>
        </div>
{#        <div class="glb-item currency">#}
{#            <b class="title">Currency</b>#}
{#            <ul class="list">#}
{#                <li class="list-item"><a href="#">€ EUR (Euro)</a></li>#}
{#                <li class="list-item"><a href="#">$ USD (Dollar)</a></li>#}
{#                <li class="list-item"><a href="#">£ GBP (Pound)</a></li>#}
{#                <li class="list-item"><a href="#">¥ JPY (Yen)</a></li>#}
{#            </ul>#}
{#        </div>#}
        <div class="glb-item languages">
            <b class="title">Language</b>
            <ul class="list inline">
                <li class="list-item"><a href="#"><img src="{% static 'assets/images/languages/us.jpg' %}" alt="flag" width="24" height="18"></a></li>
                <li class="list-item"><a href="#"><img src="{% static 'assets/images/languages/fr.jpg' %}" alt="flag" width="24" height="18"></a></li>
                <li class="list-item"><a href="#"><img src="{% static 'assets/images/languages/ger.jpg' %}" alt="flag" width="24" height="18"></a></li>
                <li class="list-item"><a href="#"><img src="{% static 'assets/images/languages/jap.jpg' %}" alt="flag" width="24" height="18"></a></li>
            </ul>
        </div>
    </div>
</div>

<!--Quickview Popup-->
<div id="biolife-quickview-block" class="biolife-quickview-block">
    <div class="quickview-container">
        <a href="#" class="btn-close-quickview" data-object="open-quickview-block"><span class="biolife-icon icon-close-menu"></span></a>
        <div class="biolife-quickview-inner">
            <div class="media">
                <ul class="biolife-carousel quickview-for" data-slick='{"arrows":false,"dots":false,"slidesMargin":30,"slidesToShow":1,"slidesToScroll":1,"fade":true,"asNavFor":".quickview-nav"}'>
                    <li><img src="{% static 'assets/images/details-product/detail_01.jpg' %}" alt="" width="500" height="500"></li>
                    <li><img src="{% static 'assets/images/details-product/detail_02.jpg' %}" alt="" width="500" height="500"></li>
                    <li><img src="{% static 'assets/images/details-product/detail_03.jpg' %}" alt="" width="500" height="500"></li>
                    <li><img src="{% static 'assets/images/details-product/detail_04.jpg' %}" alt="" width="500" height="500"></li>
                    <li><img src="{% static 'assets/images/details-product/detail_05.jpg' %}" alt="" width="500" height="500"></li>
                    <li><img src="{% static 'assets/images/details-product/detail_06.jpg' %}" alt="" width="500" height="500"></li>
                    <li><img src="{% static 'assets/images/details-product/detail_07.jpg' %}" alt="" width="500" height="500"></li>
                </ul>
                <ul class="biolife-carousel quickview-nav" data-slick='{"arrows":true,"dots":false,"centerMode":false,"focusOnSelect":true,"slidesMargin":10,"slidesToShow":3,"slidesToScroll":1,"asNavFor":".quickview-for"}'>
                    <li><img src="{% static 'assets/images/details-product/thumb_01.jpg' %}" alt="" width="88" height="88"></li>
                    <li><img src="{% static 'assets/images/details-product/thumb_02.jpg' %}" alt="" width="88" height="88"></li>
                    <li><img src="{% static 'assets/images/details-product/thumb_03.jpg' %}" alt="" width="88" height="88"></li>
                    <li><img src="{% static 'assets/images/details-product/thumb_04.jpg' %}" alt="" width="88" height="88"></li>
                    <li><img src="{% static 'assets/images/details-product/thumb_05.jpg' %}" alt="" width="88" height="88"></li>
                    <li><img src="{% static 'assets/images/details-product/thumb_06.jpg' %}" alt="" width="88" height="88"></li>
                    <li><img src="{% static 'assets/images/details-product/thumb_07.jpg' %}" alt="" width="88" height="88"></li>
                </ul>
            </div>
            <div class="product-attribute">
                <h4 class="title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                <div class="rating">
                    <p class="star-rating"><span class="width-80percent"></span></p>
                </div>

                <div class="price price-contain">
                    <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                    <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                </div>
                <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel maximus lacus. Duis ut mauris eget justo dictum tempus sed vel tellus.</p>
                <div class="from-cart">
                    <div class="qty-input">
                        <input type="text" name="qty12554" value="1" data-max_value="20" data-min_value="1" data-step="1">
                        <a href="#" class="qty-btn btn-up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                        <a href="#" class="qty-btn btn-down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                    </div>
                    <div class="buttons">
                        <a href="#" class="btn add-to-cart-btn btn-bold">add to cart</a>
                    </div>
                </div>

                <div class="product-meta">
                    <div class="product-atts">
                        <div class="product-atts-item">
                            <b class="meta-title">Categories:</b>
                            <ul class="meta-list">
                                <li><a href="#" class="meta-link">Milk & Cream</a></li>
                                <li><a href="#" class="meta-link">Fresh Meat</a></li>
                                <li><a href="#" class="meta-link">Fresh Fruit</a></li>
                            </ul>
                        </div>
                        <div class="product-atts-item">
                            <b class="meta-title">Tags:</b>
                            <ul class="meta-list">
                                <li><a href="#" class="meta-link">food theme</a></li>
                                <li><a href="#" class="meta-link">organic food</a></li>
                                <li><a href="#" class="meta-link">organic theme</a></li>
                            </ul>
                        </div>
                        <div class="product-atts-item">
                            <b class="meta-title">Brand:</b>
                            <ul class="meta-list">
                                <li><a href="#" class="meta-link">Fresh Fruit</a></li>
                            </ul>
                        </div>
                    </div>
                    <span class="sku">SKU: N/A</span>
                    <div class="biolife-social inline add-title">
                        <span class="fr-title">Share:</span>
                        <ul class="socials">
                            <li><a href="#" title="twitter" class="socail-btn"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" title="facebook" class="socail-btn"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" title="pinterest" class="socail-btn"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="#" title="youtube" class="socail-btn"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#" title="instagram" class="socail-btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scroll Top Button -->
<a class="btn-scroll-top"><i class="biolife-icon icon-left-arrow"></i></a>

<script src="{% static 'assets/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<script src="{% static 'assets/js/biolife.framework.js' %}"></script>
<script src="{% static 'assets/js/functions.js' %}"></script>

</body>


<style>
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
</style>

</html>